h1 {
  text-align: center;
}

body {
  text-align: center;
}

#grid {
  width: 800px;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  border: 1px solid black;
}

.cell {
  width: 8px;
  height: 8px;
}

.snake {
  background-color: black;
  border-radius: 20%;
}

.ghostSnake {
  background-color: gray;
  border-radius: 20%;
}

.food {
  background-color: rgb(5, 118, 163);
  border-radius: 50%;
}

.gameOver {
  color: red;
  padding: 10px;
}
